# Pengujian

In [26]:
import pandas as pd
from sklearn.metrics import classification_report
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support

list_data = 'dice_tf-idf jaccard_tf-idf cosine_tf-idf dice_tf-idf-df jaccard_tf-idf-df cosine_tf-idf-df dice_df jaccard_df cosine_df'
list_data = list_data.split()

In [58]:
f = pd.read_excel("hasil\pelabelan\hasil_transform_2019-04-20 21-25-55.543165.xlsx", sheet_name = 'Sheet1')
f2 = pd.read_excel("data/jawaban_clean_jawaban buat label_1.xlsx", sheet_name = 'Sheet2')#hasil asli
f2 = f2[:100]

y_true = f2['Column4'].tolist()
target_names = ['sangat mirip', 'mirip', 'tidak mirip','sangat tidak mirip']
metode = list()
akurasi = list()
precision = list()
recall = list()
f1_score = list()

for i in list_data:
    data = f[i].tolist()
    y_pred = data
    metode.append(i)
    akurasi.append(accuracy_score(y_true, y_pred, normalize=True))
    hasil = list(precision_recall_fscore_support(y_true, y_pred, average='weighted')) #weighted
    precision = hasil[0]
    recall = hasil[1]
    f1_score = hasil[2]
    
dic2 = {
    "metode":metode ,
    "akurasi":akurasi,
    "precision":precision,
    "recall":recall,
    "f1_score":f1_score,
}
df2 = pd.DataFrame.from_dict(dic2)
df2

              metode  akurasi  precision  recall  f1_score
0        dice_tf-idf     0.87   0.876179    0.89  0.876444
1     jaccard_tf-idf     0.58   0.876179    0.89  0.876444
2      cosine_tf-idf     0.87   0.876179    0.89  0.876444
3     dice_tf-idf-df     0.87   0.876179    0.89  0.876444
4  jaccard_tf-idf-df     0.58   0.876179    0.89  0.876444
5   cosine_tf-idf-df     0.87   0.876179    0.89  0.876444
6            dice_df     0.87   0.876179    0.89  0.876444
7         jaccard_df     0.71   0.876179    0.89  0.876444
8          cosine_df     0.89   0.876179    0.89  0.876444

In [50]:
df2.to_excel('hasil\pengujian\hasil_pengujian_update1.xlsx')